name: Docker Publish

on:
  workflow_dispatch:
    inputs:
      version_tag:
        description: '镜像版本标签，例如 v1.0.5'
        required: true
        default: ''

jobs:
  docker-publish:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
    steps:
      - uses: actions/checkout@v4

      - name: Validate Secrets
        run: |
          if [[ -z "${{ secrets.DOCKERHUB_USERNAME }}" || -z "${{ secrets.DOCKERHUB_TOKEN }}" ]]; then
            echo "Missing DOCKERHUB_USERNAME or DOCKERHUB_TOKEN secrets."
            exit 1
          fi

      - name: Set Version Tag
        run: |
          echo "VERSION_TAG=${{ github.event.inputs.version_tag }}" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: quicksend/quicksend/quicksend
          file: quicksend/quicksend/quicksend/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/quicksend:${{ env.VERSION_TAG }}
            ${{ secrets.DOCKERHUB_USERNAME }}/quicksend:latest
